.rounded_STYLE {
    -webkit-border-radius: 6px;    /* for Safari */
    -moz-border-radius: 6px;       /* for Firefox */
	text-decoration: none;
	a:link {text-decoration: none; border-bottom: none !important;}
	a:visited {text-decoration: none; border-bottom: none !important;}
	a:active {text-decoration: none; border-bottom: none !important;}
	a:hover {text-decoration: none; border-bottom: none !important;}
	white-space: no-wrap;
	clear: both;
}
#folding_border_main {
	background-color: #3f6daf;
	padding: 1px 5px 5px 5px;
	}
#folding_border {
	background-color: #3f6daf;
	}
#folding_user {
	background-color: #E1E1FF;
	padding: 3px; 
	}
#folding_team {
	background-color: #E1E1FF;
	padding: 3px; 
	}

.folding_user {
	}
.folding_user_results {}	
.folding_team {
	}
.folding_team_results {
	}
.folding_arrow {
	font-style: italic;
	}